*{
	margin: 0;
	padding: 0;
}
/*cabeçalho*/
a {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}
a:hover {
	opacity: 0.7;
}
.logo {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: system-ui,-apple-system, Helvetica, Arial, sans-serif;
	background: #23232e;
	height: 8vh;
}

.nav-list {
	list-style: none;
	display: flex;
}
.nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
}
/*menu celular*/
.mobile-menu {
	display: none;
	cursor: pointer;
}

.mobile-menu div {
	width: 32px;
	height: 2px;
	background: #fff;
	margin: 8px;
}
/*menu*/
@media (max-width: 999px) {
	body {
		overflow-x: hidden;
	}
	.nav-list{
		position: absolute;
		top: 8vh;
		right: 0;
		width: 50vw;
		height: 92vh;
		background: #23232e;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
	}
	.nav-list li{
		margin-left: 0;
		opacity: 0;
	}
	.mobile-menu{
		display: block;
	}
}
	.nav-list.active {
		transform: translateX(0);
}

@Keyframes navLinkFade {
		from {
			opacity: 0;
			transform: translateX(50px);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
}
.grid-container {
	display: grid;
	grid-template-column: auto auto;
	
}

.container img {
	max-width: 50%;
	max-height:50%;
	width: auto;
	height: auto;
}
main {
	height: 80vh;
}
footer {
	background-color: #23232e;


}

.container-footer{
	font-family: system-ui,-apple-system, Helvetica, Arial, sans-serif;
	justify-content: space-around;
	max-width: 1400px;
	padding: 0 4%;
	margin: auto;
	list-style-type: none;
}
li {
  list-style-type: none;
}

.row-footer{
	display: flex;
	flex-wrap: wrap;
}

.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: white;
	margin-bottom: 20px;
	font-weight: 500;
	position: relative;
	text-transform: uppercase;
}
.footer-col ul li{
	margin: 10px 0;
}
.footer-col ul li a{
	font-size: 12px;
	text-transform: capitalize;
	color: white;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
	
}
.footer-col ul li a:hover {
	opacity: 0.7;
	padding-left: 10px;
}

@media screen and (max-width: 999px){
	#container-footer{
		grid-template-column: repeat(2, 1fr);
		gap: 2rem;
	}
}
@media screen and (max-width: 426px){
	#container-footer{
		grid-template-column: repeat(2, 1fr);
		gap: 2rem;
	}
}