*{

}
div {
	background-color: #23232e;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 80px;
	border-radius: 8px;
}
h1 {
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: system-ui,-apple-system, Helvetica, Arial, sans-serif;
}
.container-login {
	width: 250px;
	padding: 50px;
}

input {
	width: 88%;
	padding: 15px;
	border: none;
	outline: none;
	font-size: 15px;
}
button{
	background-color: white;
	border: none;
	padding: 15px;
	width: 100%;
	border-radius: 8px;
	color: black;
	font-size: 15px;
	cursor: pointer;
}
.cadastro {
	text-align: center;
	font-size: 12px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: system-ui,-apple-system, Helvetica, Arial, sans-serif;
}